/* LTT的样式 */
.ltt-container {
    margin-top: 80px;
    font-size: 18px;
    padding:60px 0 98px;
    overflow: hidden;
    border-top: 1px solid #E4E4E4;
}
.ltt-container .link-left {
    float: left;
}
.ltt-container a {
    color: #00c3f5;
    border: #00c3f5 1px solid;
    font-size: 16px;
    display: inline-block;
    width: 136px;
    padding: 7px 0;
    text-align: center;
}
a {
    text-decoration: none;
}
.ltt-container .link-right {
    float: right;
}
.bottom{
    border-bottom: #00c3f5 2px solid;
    color: #00c3f5;
    font-weight:bold;
}

p {
    box-sizing: content-box;
}
.store-title{
    color: #00c3f5;
    font-size: 20px;
}
.container {
    color: #333;
}
.store-level,.store-detail,.store-addr,.store-tel{
    font-size:16px;
}
.store-level em{
    display: inline-block;
    width: 28px;
    height: 100%;
    background-image: url("../img/images/store_icons.png");
    background-repeat: no-repeat;
}
.store-level-season {
    background-position: -40px -1px;
}

/* 我的样式 */
body{
    background-color: #F7F7F7;
}
.carousel-indicators li{
    width: 80px;
    height: 5px;
    border-radius: 0;
}
.carousel-indicators .active {
    width: 80px;
    height: 5px;
    margin: 0;
    background-color: #fff;
}
section.lunbo{
    position: relative;
    top:-10px;
}
article{
    width: 1190px;
    margin:0 auto;
}

select{
    border: 1px solid #E4E4E4;
}